body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    background-color: #ffffff;
    padding: 20px 30px; /* Añadido más padding horizontal */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: calc(100% - 20px); /* Ajustar el ancho total del input */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.overlay {
    /*blockea todo lo afuera de la ventana*/
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.register {
    /*ventana*/
    display: none;
    position: fixed;
    top: 12%; /* Cambia la posición desde la parte superior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Por encima de todo */
}

.register-content {
    /*contenido*/
    text-align: center;
}

.register button {
    /*boton*/
    width: 320px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register button:hover {
    /*boton al clickear*/
    background-color: #0056b3;
}

/*REGISTRO*/
.register-container {
    padding: 20px 30px;
    width: 300px;
    height: 430px;
    text-align: center;
    overflow: auto;
}

.register-container h2 {
    margin-bottom: 20px;
    color: #333;
    padding-bottom: 1px;
}

.input-groupR {
    margin-bottom: 15px;
    text-align: left;
}

.input-groupR label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-groupR input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#button-register {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

#button-register:hover {
    background-color: #218838;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo */
    border-radius: 10px; /* Borde redondeado */
}

::-webkit-scrollbar-thumb {
    background: #b2b2b2; /* Color del pulgar */
    border-radius: 10px; /* Borde redondeado */
}
