{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Ferremas</title>
</head>
    <body>
        <div class="login-form">
            <h1>Iniciar sesion</h1>
                <button type="submit">Iniciar sesión</button>
        </div>

        <div class="signup-form">
            <h1>Crear nuevo usuario</h1>
                <button type="submit">Crear usuario</button>
        </div>
    </body>
</html>